@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 150px 1000px 500px 500px 100px;
    grid-template-areas: 
    "he na"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "fo fo"
    
}

h1 {
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
}

header {
    grid-area: he;
    display: flex;
    background-color: rgb(255, 149, 167);
    letter-spacing: 10px;
    align-items: center;
}

nav {
    grid-area: na;
    background-color: rgb(255, 149, 167);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#section1 {
    grid-area: s1;
    background-color: rgb(83, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#section2 {
    grid-area: s2;
    background-image: url(../img/ice_cream_background_2.jpg);
    background-repeat:   no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#section3 {
    grid-area: s3;
    background-image: url(../img/Kossa.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;

}

#text_full_size {
    display: none;
}

#footer1 {
    grid-area: fo;
    background-color: rgb(255, 149, 167);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#burger_list {
    height: 400px;
    width: 200px;
    top: -400px;
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 149, 167);
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s;
} 

#burger_menu {
    margin-right: 80px;
    cursor: pointer;
}

#burger_menu div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px;
    border-radius: 10%;
}

#burger_list a {
    text-decoration: none;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.list_text {
    font-size: 2rem;
}

#burger_list a :hover {
    font-weight: bold;
}

a {
    cursor: pointer;
}

.burger_x_form #burger_line_1 {
    opacity: 0;
}

.burger_x_form #burger_line_2 {
    transform: rotate(-45deg) translate(-7px, 0px);
}

.burger_x_form #burger_line_3 {
    transform: rotate(45deg) translate(-7px, 0px);
}
.burger_list_visible {
    transform: translateY(500px);
}

.ice_cream_vectors {
    width: 200px;
    height: auto
}

#cream_of_ice {
    width: 600px;
    height: auto;
}

.slogan {
    font-size: 2rem;
    font-family: 'Cedarville Cursive', cursive;
    color: white;
}

#s2_text {
    font-size: 2rem;
    margin-top: 35px;
    margin-bottom: 100px;
    color: rgb(177, 22, 22);
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 8px;
}

#cow_text {
    color: white;
    margin-top: 20px;
    font-size: 40px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

#text_full_size {
    display: none;
}

.footer_text {
    color: white;
}

.footer_smalltext {
    color: white;
}


/* page 2 */


#grid_wrapper2 {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 150px 1500px 100px;
    grid-template-areas: 
    "he na"
    "ar ar"
    "fo fo"
}

#main {
    grid-area: ar;
}

#footer_page2 {
    grid-area: fo;
}

#body_page2 {
    background-image: url(../img/ice_cream_flavours.jpg);
    background-repeat: no-repeat;

    background-size: 2400px 1800px;
}

.textwall {
    position: relative;
    background-color: bisque;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#text_1 {
    height: 600px;
    width: 500px;
    border: 5px solid rgb(59, 42, 42);
    border-radius: 20px;
    position: relative;
    top: 100px;
    left: 50px;
}

#text_2 {
    height: 600px;
    width: 500px;
    border: 5px solid rgb(59, 42, 42);
    border-radius: 20px;
    position: absolute;
    top: 1000px;
    right: 50px;
}

.page2_titletext {
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Signika Negative', sans-serif;
}

.page2_text {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

#footer_page2 {
    background-color: rgb(255, 149, 167);
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer2_text {
    color: white;
    font-size: 1.5rem;
}

@media screen and (min-width: 750px) {
    #text_full_size {
        background-color: rgb(83, 39, 39);
        grid-area: te ;
        display: flex;
        justify-content: center;
    }

    #burger_menu {
        display: none;
    }

    #burger_list {
        height: 100px;
        width: 100%;
        top: 0px;
        right: 0px;
        flex-direction: row;
        transition: all 0s;
    }
    #grid_wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 150px 50px 500px 500px 100px;
        grid-template-areas: 
        "na na"
        "he he"
        "te te"
        "s1 s1"
        "s2 s3"
        "fo fo"
        
    }
    #section1 {
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    #text_small_size {
        display: none;
    }

    header {
        align-items: center;
        justify-content: center;
    }


    .burger_list_visible {
        transform: none
    }

    #grid_wrapper2 {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 150px 1500px 100px;
        grid-template-areas: 
        "na"
        "he"
        "ar"
        "fo"
    }

}


@media screen and (min-width: 1200px) {
    
    #grid_wrapper2 {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 150px 1000px 100px
    }

    #main {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #text_1 {
        top: 0px;
        left: 0px;
        position: static;
    }
    
    #text_2 {
        top: 0px;
        right: 0px;
        position: static;
    }
    
}