@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 150px 500px 500px 500px 500px 150px;
    grid-template-areas: 
    "he na"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "s4 s4"
    "fo fo"
    
}

h1 {
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
}

header {
    grid-area: he;
    display: flex;
    background-color: rgb(255, 149, 167);
    
}

nav {
    grid-area: na;
    background-color: greenyellow;
}

#section1 {
    grid-area: s1;
    background-color: aquamarine;
}

#section2 {
    grid-area: s2;
    background-color: red;
}

#section3 {
    grid-area: s3;
    background-color: orange;
}

#section4 {
    grid-area: s4;
    background-color: brown;
}

#footer1 {
    grid-area: fo;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#burger_list {
    list-style: none;
} 

#burger_list a {

}